<div class="row" style="text-align: center;">
  <a routerLink="/content-a" (click)="navigate('/content-a')" style="text-decoration: underline; cursor: pointer;">{{ lang.sidebar.contentA }}</a>&nbsp;
  <a routerLink="/module-a" (click)="navigate('/module-a')" style="text-decoration: underline; cursor: pointer;">{{ lang.sidebar.contentB.moduleA }}</a>&nbsp;
  <a routerLink="/module-b" (click)="navigate('/module-b')" style="text-decoration: underline; cursor: pointer;">{{ lang.sidebar.contentB.moduleB }}</a>
</div>
