<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ title }}</h4>
  <button type="button" class="btn-close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  {{ description }}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="sendResponse(option1)">{{ option1 }}</button>
  <button type="button" class="btn btn-danger" (click)="sendResponse(option2)">{{ option2 }}</button>
</div>
