<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">Micro Frontend</div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/">Dashboard</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/content-a" (click)="navigate('/content-a')">{{ lang.sidebar.contentA }}</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/module-a" (click)="navigate('/module-a')">{{ lang.sidebar.contentB.moduleA }}</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/module-b" (click)="navigate('/module-b')">{{ lang.sidebar.contentB.moduleB }}</a>
  </div>
</div>
